= render partial: "shared/steps"
.container.find_friends
  .row
    .spam12
      .data
        - unless @users.empty?
          .pushv3
            %table.table.table-condensed
              %thead
                %tr{colspan: 4}
                  %th Add friends
              %tbody
                - @users.each do |user|
                  %tr
                    %td checkbox
                    %td= image_tag(user.picture(:square), class: "user-photo")
                    %td.name= user.name
                    %td add
        = form_tag invite_friendships_path do
          - if @facebook_friends.any?
            .pushv3
              %table.table.table-condensed
                %thead
                  %tr{colspan: 3}
                    %th Invite Facebook Friends
                %tbody
                  - @facebook_friends.each do |user|
                    %tr{id: user.raw_attributes[:id]}
                      %td
                        = check_box_tag "ids[]", user.raw_attributes[:id]
                      %td= image_tag(user.picture(:square), class: "user-photo")
                      %td.name= user.name

            .buttons.pushv2
              = submit_tag "Send Invitations", class: "btn pull-right"



= content_for :javascript do
  :javascript
    $(document).ready(function($) {
      $('.find_friends table').tableScroll({height:350});
    });
