= render partial: "shared/steps"
.container.find_friends
  .row
    .spam12
      .data
        .clear
        - unless @users.empty?
          .pushv2
            %table.table.table-condensed
              %thead
                %tr{colspan: 4}
                  %th Add friends
              %tbody
                - @users.each do |user|
                  %tr
                    %td checkbox
                    %td.name= user.first_name
                    %td add
        = form_tag invite_friendships_path do
          - if @facebook_friends.any?
            .pushv3
              %table.table.table-condensed
                %thead
                  %tr
                    %th{colspan: 3}
                      Invite Facebook Friends
                      = submit_tag "Send Invitations", class: "btn pull-right"
                %tbody
                  - @facebook_friends.each do |user|
                    %tr{id: user.raw_attributes[:id]}
                      %td{style: "width: 30px !important; text-align: center" }
                        = check_box_tag "ids[]", user.raw_attributes[:id]
                      %td{style: "text-align: center" }= image_tag(user.picture(:square), class: "user-photo")
                      %td.name= user.name

        .buttons.pushv2
          = form_for @user, url: wizard_path, class: "form-inline" do |f|
            = f.submit "Next", class: "btn pull-right pushv2"



= content_for :javascript do
  :javascript
    $(document).ready(function($) {
      $('.find_friends table').tableScroll({height:350});
    });
