= render partial: "shared/steps"
.container.find_friends
  .row
    .spam12
      .data
        - unless @users.empty?
          .pushv3
            %table.table.table-condensed
              %thead
                %tr{colspan: 4}
                  %th Add friends
              %tbody
                - @users.each do |user|
                  %tr
                    %td checkbox
                    %td= image_tag(user.picture(:square), class: "user-photo")
                    %td.name= user.name
                    %td add

        - unless @facebook_friends.empty?
          .pushv3
            %table.table.table-condensed
              %thead
                %tr{colspan: 3}
                  %th Invite Facebook Friends
              %tbody
                - @facebook_friends.each do |user|
                  %tr
                    %td checkbox
                    %td= image_tag(user.picture(:square), class: "user-photo")
                    %td.name= user.name

        - else
          There are not friend to invite

        .buttons.pushv2
          - unless @facebook_friends.empty?
            %button.btn.pull-right Send Invitations
          = form_for @user, url: wizard_path, class: "form-inline" do |f|
            = f.submit "Next", class: "btn pull-left"


= content_for :javascript do
  :javascript
    $(document).ready(function($) {
      $('.find_friends table').tableScroll({height:350});
    });
