.container.find_friends  
  = link_to "Share on Facebook", share_on_facebook_path(:page => timeline_path(current_user.id),view: "timeline")
  .pushv4
    .floatcenter.width400
      .media.clearfix.pullv4
        .img.portrait
          =image_tag(current_user.image_url)
        .body.pushv2
          %h3
            = current_user.first_name


    .aligncenter.pullv4
      = link_to "Add New Travel","#", class: "open-modal btn-primary btn btn-orange btn-large", :"data-toggle" => "modal"

    .timeline-container.clearfix
      %ul.travel-timeline.clear
        - @travels.each do |travel|
          %li.timeline-item.clearfix
            .travel-pic
              -unless travel.photos.empty?
                =image_tag(travel.photos.shuffle.first.url)
              -else
                =image_tag("http://travelmemories.dev/assets/airplane.png")
            .travel-body
              .travel-date
                = travel.start_date
                = if travel.end_date?
                  %span -
                  = travel.end_date
              %div
                %h3.travel-location
                  = link_to travel.location, travel_path(travel), :class => "hover-black"
              %ul.travel-info
                %li
                  %span.travel-type
                    Travel by
                    = travel.try(:transportation)
                %li
                  %a.orange{:href => ""}
                    %i.icon-map-marker
                    = travel.checkins.count
                    Check-ins
                %li
                  %a.orange{:href => ""}
                    %i.icon-picture
                    = travel.photos.count
                    Photos


.modal.hide.fade#mymodal.place{:role => "dialog", :"aria-labelledby" => "myModalLabel", :"aria-hidden" => "true"}
  .modal-body
    = form_tag travels_path, id: "submit_travel_form" do
      = hidden_field_tag :checkins_ids
      %h3.location Add Location
      = text_field_tag :location,"", class: "text span5", placeholder: "Location", autocomplete: "off"
      %h3.location Transportation
      = select_tag :transportation, options_for_select([["Car", "car"], ["Airplane", "airplane"],["Bus", "bus"],["Ship", "ship"]]), style: "margin-left:35px"
      %h3.date Add Date
      = text_field_tag :start_date, Date.today, class: "text span5 start_datepicker", placeholder: "Start date"
      = text_field_tag :end_date, Date.today, class: "text span5 end_datepicker", placeholder: "End date"
      #checkins_container
      %h3.clear.photos Add Photos
      .row-fluid
        .span12
          - @photos.each do |album|
            .span12= album.first
            - album.second.each do |photo|
              .span4
                =image_tag photo, size: "100x100"
                = check_box_tag "photos_urls[]", photo

  .modal-footer
    =submit_tag "Close", class: "btn close-modal"
    =submit_tag "Add", class: "btn btn-primary", id:"submit_travel_info"

= render partial: "shared/checkins-template"


:javascript


  $("#location").keyup(function(){
    var location = $(this).val();
    $.ajax({
      url: "/get_checkins",
      data: { location: location, simple: "true"},
      success: function(response){
        if(response != "[]"){
          var data = ich.checkins_template({data: JSON.parse(response)});
          $("#checkins_container").html(data);
        }else{
          $("#checkins_container").html("");
        }
      }
    });
  })

  $("#submit_travel_info").click(function(){
    var ids = "";
    var selected_checkins = $(".checkin_checkbox:checked");
    $.each(selected_checkins, function(index, value) {
      ids += $(value).attr("data-id")+","
    });
    $("#checkins_ids").attr("value", ids);
    $("#submit_travel_form").submit();
  });

  $(".open-modal").click(function(){
    var location = $(this).attr("data-info");
    $("#travel_location_title").html(location);
    $("#location").val(location)
    $(".modal").modal("show");
  })

  $(".close-modal").click(function(){
    $(".modal").modal("hide")
  })


  $('.end_datepicker').datepicker({
    onSelect: function(dateText, inst){
      var start_date = $(".start_datepicker").val();
      var end_date = dateText;
      if(start_date != ""){
        var location = $("#location").val()
        $.ajax({
          url: "/get_checkins",
          data: { location: location, start_date: start_date, end_date: end_date, simple: "true" },
          success: function(response){
            console.log(JSON.parse(response))
            var data = ich.checkins_template({data: JSON.parse(response)});
            $("#checkins_container").html(data);
          }
        });
      }
    }
  });

  $('.start_datepicker').datepicker({
    onSelect: function(dateText, inst){
      var start_date = dateText;
      var end_date = $(".end_datepicker").val();
      if(end_date != ""){
        var location = $("#location").val();
        $.ajax({
          url: "/get_checkins",
          data: { location: location, start_date: start_date, end_date: end_date, simple: "true" },
          success: function(response){
            if(response != "[]"){
              var data = ich.checkins_template({data: JSON.parse(response)});
              $("#checkins_container").html(data);
            }else{
              $("#checkins_container").html("");
            }
          }
        });
      }
    }
  });
