.container
  .pushv4
    .floatcenter.width400
      .media.clearfix.pullv4
        .img.portrait
          =image_tag(current_user.image_url)
        .body.pushv2
          %h3
            = current_user.first_name
            = current_user.last_name

    .timeline-container
      .timeline-item
        %h4.floatcenter.aligncenter.pullv1
          Traveled to
        %h2.floatcenter.aligncenter.pullv1
          %p.orange.hover-black
            = @travel.location

        %h4.floatcenter.aligncenter
          .pullv1
            On
          .pullv1.f30
            = @travel.start_date
          .pullv1.f30
            To
          .pullv1.f30
            = @travel.end_date
      .timeline-item.pullv4
        %h4.floatcenter.aligncenter
          .pullv1
            By
          .f30
            = @travel.try(:transportation)
      .timeline-item.pullv4
        %h4.floatcenter.aligncenter.pullv2
          .pullv1
            Made
          .pullv1.f30
            = "#{@travel.checkins.count} Check-ins"
          - @travel.checkins.each do |checkin|
            =checkin.name
      .timeline-item.pullv4
        %h4.floatcenter.aligncenter.pullv2
          .pullv1
            Took
          .pullv1.f30
            = "#{@travel.photos.count} Photos"
        %ul.photo-gallery.clearfix
          - @travel.photos.each do |picture|
            %li.photo-item.clearfix
              .img
                = image_tag(picture.url)


