.container.find_friends
  .pushv4
    .floatcenter.width400
      .media.clearfix.pullv4
        .img.portrait
          =image_tag(@user.image_url)
        .body.pushv2
          %h3
            = @user.first_name


    .timeline-container.clearfix
      %ul.travel-timeline.clear
        - @travels.each do |travel|
          %li.timeline-item.clearfix
            .travel-pic
              -unless travel.photos.empty?
                =image_tag(travel.photos.shuffle.first.url)
              -else
                =image_tag("http://travelmemories.dev/assets/airplane.png")
            .travel-body
              .travel-date
                = travel.start_date
                = if travel.end_date?
                  %span -
                  = travel.end_date
              %div
                %h3.travel-location
                  = link_to travel.location, travel_path(travel), :class => "hover-black"
              %ul.travel-info
                %li
                  %span.travel-type
                    Travel by
                    = travel.try(:transportation)
                %li
                  %a.orange{:href => ""}
                    %i.icon-map-marker
                    = travel.checkins.count
                    Check-ins
                %li
                  %a.orange{:href => ""}
                    %i.icon-picture
                    = travel.photos.count
                    Photos