.container
  .row
    %h2 Pending Request
    - unless @pending_requests.empty?
      - @pending_requests.each do |friendship|
        = form_tag friendship_path(friendship.id), method: :put do
          = friendship.user.first_name
          = submit_tag "Accept Friendship"
        = form_tag friendship_path(friendship.id), method: :delete do
          = submit_tag "Delete Friendship"
    - else
      There are not pending requests.

    %h2 Add Friends
    - unless @users.empty?
      - @users.each do |user|
        - unless user.friends.include?(current_user)
          = user.first_name
          = form_tag friendships_path do
            =hidden_field_tag :user_id, user.id
            = submit_tag "Add friend"
    - else
      There are not friend to add.

    %h2 Invite friends
    - unless @facebook_friends.empty?
      - @facebook_friends.each do |user|
        = image_tag(user.picture)
        = user.name
        %br
    - else
      There are not friend to invite
