
Pending Request

- @pending_requests.each do |friendship|  
  = form_tag friendship_path(friendship.id), method: :put do    
    = friendship.user.first_name
    = submit_tag "Accept Friendship"    
  = form_tag friendship_path(friendship.id), method: :delete do    
    = submit_tag "Delete Friendship"

%br
%br
%br
%br
%br

- @users.each do |user|
  - unless user.friends.include?(current_user)
    = user.first_name
    = form_tag friendships_path do    
      =hidden_field_tag :user_id, user.id
      = submit_tag "Add friend"
