.container
  .row
    %h2 Pending Request
    - unless @pending_requests.empty?
      - @pending_requests.each do |friendship|
        = form_tag friendship_path(friendship.id), method: :put do
          = friendship.user.first_name
          = submit_tag "Accept Friendship"
        = form_tag friendship_path(friendship.id), method: :delete do
          = submit_tag "Delete Friendship"
    - else
      There are not pending requests.

    %h2 Add Friends
    - unless @users.empty?
      - @users.each do |user|
        - unless user.friends.include?(current_user)
          = user.first_name
          = form_tag friendships_path do
            =hidden_field_tag :user_id, user.id
            = submit_tag "Add friend"
    - else
      There are not friend to add.

    %h2 Invite friends
    - unless @facebook_friends.empty?
      = form_tag invite_friendships_path do
        - if @facebook_friends.any?
          .pushv3
            %table.table.table-condensed
              %thead
                %tr
                  %th{colspan: 3}
                    Invite Facebook Friends
                    = submit_tag "Send Invitations", class: "btn pull-right"
              %tbody
                - @facebook_friends.each do |user|
                  %tr{id: user.raw_attributes[:id]}
                    %td{style: "width: 30px !important; text-align: center" }
                      = check_box_tag "ids[]", user.raw_attributes[:id]
                    %td{style: "text-align: center" }= image_tag(user.picture(:square), class: "user-photo")
                    %td.name= user.name
    - else
      There are not friend to invite
