= content_for :html_class do
  landing

.container-fluid.intro
  .container
    .row
      .span6.offset6
        %h1 Share & Organize your travel experiences
        %p Travel Memories is a social network to track and share your trips. Simply connect with Facebook and Foursquare to export your check-ins and favourite photos, as well as the friends who shared the experience with you. 
        = link_to "", omniauth_authorize_path(:user, "foursquare"), class: "fq", rel: "tooltip", title: "Connect with Facebook"

.container
  .row.social
    .span4
      .image
        = image_tag('airplane.png')
      %h3 Travel around the world
      %p        
        On a plane, train, bus, yacht or car. Keep travel memories with you while on the go to create a timeline of your favourite moments.
    .span4
      .image
        = image_tag('camera.png')
      %h3 Collect some memories
      %p
        Export your check-ins and photos to your map and entwine your journeys with those of your friends creating a collection of your top locations to go to. 

    .span4
      .image
        = image_tag('network.png')
      %h3 Share with friends
      %p
        Connect with Facebook and Foursquare. Share your favourite locations with you friends, see where they're going in order to discover new places and future journeys.
