= content_for :html_class do
  landing

.container-fluid.intro
  .container
    .row
      .span6.offset6
        %h1 Share & Organize your travel experiences
        %p Travel Memories is a web app where you can log and share your travel experiences during your trip with your friends back home.
        = link_to "", omniauth_authorize_path(:user, "foursquare"), class: "fq", rel: "tooltip", title: "Connect with Facebook"

.container
  .row.social
    .span4
      .image
        = image_tag('airplane.png')
      %h3 Travel around the world
      %p
        Ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod
        ut labore et dolore magna aliqua.
    .span4
      .image
        = image_tag('camera.png')
      %h3 Travel around the world
      %p
        Ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod
        ut labore et dolore magna aliqua.
    .span4
      .image
        = image_tag('network.png')
      %h3 Travel around the world
      %p
        Ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod
        ut labore et dolore magna aliqua.
