!!!
%html{:class => "#{yield :html_class}"}
  %head
    %title
      = yield :title
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  %body
    #header
      .navbar.navbar-static-top
        .navbar-inner
          .container
            %a.brand{href: root_path}
            .nav-collapse.subnav-collapse
              - if user_signed_in?
                %ul.nav.pull-right
                  %li
                    = link_to  new_friendship_path do
                      %span.badge= current_user.pending_friends_inverse.count
                      Friendships

                  %li.divider-vertical
                  %li= link_to "Salir", destroy_user_session_path, method: :delete
              - else
                %p.navbar-text.pull-right
    #page
      = render partial: "shared/flash"
      = yield

  = yield :javascript
