!!!
%html
  %head
    %title
      = yield :title
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: "#"} EXAMPLE
          .nav-collapse
            - if user_signed_in?
              %ul.nav
                %li= link_to "Contactos", root_path
                %li
                  %form#search.navbar-search{action: "#"}
                    %input.search-query{name: "q", placeholder: "Buscar...", type: "text"}/
              %p.navbar-text.pull-right
                = link_to "Salir", destroy_user_session_path, method: :delete
            - else
              %p.navbar-text.pull-right
                = link_to "Sign in!!!!!!!!!!!!!", omniauth_authorize_path(:user, "foursquare"), class: "fb", rel: "tooltip", title: "Connect with Foursquare"
    %br
    %br
    %br
    %br
    %br
    %br
    
    .container
      #flash_container
        - flash.each do |key, msg|
          - if msg && !msg.empty?
            %div{:id => key, :class => "flash #{key}"}
              %span.icon
              %p.message
                = msg unless msg.is_a?(Array)
              - if msg.is_a? Array
                %ul
                  - msg.map do |m|
                    %li= m
              = link_to "x" , "#", :class => "close"


        = yield

  = yield :javascript
